/*каждое свойство - с новой строчки
после селектора пробел
ты пишешь не только для себя, но и для тех, кто будет после тебя*/
body {
  background-color: #ccc;
  padding: 25%;
  padding-top:0;
  padding-bottom: 0;
}
h2 {  
  font-weight: normal;
}
p {
  font-size: 105%; /*похоже не нужно*/
  padding-left: 10px;
  /*шрифт из одного слова можно писать без кавычек*/
	font-family: "Times New Roman"; /*это свойство наследуется от родителя
  то есть если у боди такой шрифт - то такой он будет у всех его детей.
  Поэтому все по шрифтам есть смысл задавать на самом верхнем уровне для
  большинства элементов, а потом перебивать для особых*/
	/*такая жирная граница получилась потому что браузер(хром к пример) имеет
  стиль по умолчанию border-width: 3px его нам тоже нужно будет перебить своим*/
	/*border-top-style:solid;
  border-width: 1px;
  */
}
/*span {font-size: 90%;
  тут важно правильно правильно писать шрифт, работает только потому что это
  стиль по умолчанию, большие и маленькие буквы имеют значение 
	  font-family: "Times New Roman";
	  color: #000;
	  padding-left: 10px;
}*/
.parent {
    /*margin: 25% это внешние отступы, то есть представь границу
     этого элемента, марджин это свойство, которое показывает насколько близко/далеко другие
      элементы с внешней стороны могут приблизиться. а вот padding это свойство, которое 
      регулирует величину отступа элементов, содержащихся внутри него.*/
  background: #FFF;
  padding: 2%;
  padding-top:0;
  padding-bottom: 0;
} 